$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.faceRow {
  min-height: 50px;
  border: 2px solid black;
}

.face {
  display: inline-block;
  float: left;
  min-height: 50px;
  border: 2px solid red;
}
